				<div class="submenu">
					<div class="navbar-header">
						<ul class="nav navbar-nav pull-left">
							<li>
								<a class="btn btn-success" href="/Linnworksapis/getCategory" data-toggle="modal" data-target=""><i class=""></i> Categories </a>
							</li>
							<li>
								<a class="btn btn-success" href="/Linnworksapis/getStockItem" data-toggle="modal" data-target=""><i class=""></i> Stock Item </a>
							</li>
							<li>
								<a class="btn btn-success" href="/Linnworksapis/getorderStatus" data-toggle="modal" data-target=""><i class=""></i> Order Status </a>
							</li>
							<li>
								<a class="btn btn-success" href="/Linnworksapis/getPostalServices" data-toggle="modal" data-target=""><i class=""></i> Postal Services </a>
							</li>
							<li>
								<a class="btn btn-success" href="/Linnworksapis/getLocations" data-toggle="modal" data-target=""><i class=""></i> Locations </a>
							</li>
							<li>
								<a class="btn btn-success" href="/Linnworksapis/getOrder" data-toggle="modal" data-target=""><i class=""></i> Order </a>
							</li>
						</ul>
					</div>
				</div>	
