<div class="submenu">
	<div class="navbar-header">
		<ul class="nav navbar-nav pull-left">
			<li>
				<a class="btn btn-success" href="/JijGroup/Generic/Category" data-toggle="modal" data-target=""><i class=""></i> Categories </a>
			</li>
			<li>
				<a class="btn btn-success" href="/JijGroup/Generic/StockItem" data-toggle="modal" data-target=""><i class=""></i> Stock Item </a>
			</li>
			<li>
				<a class="btn btn-success" href="/JijGroup/Generic/Status/Order" data-toggle="modal" data-target=""><i class=""></i> Order Status </a>
			</li>
			<li>
				<a class="btn btn-success" href="/JijGroup/Generic/Services/Postal" data-toggle="modal" data-target=""><i class=""></i> Postal Services </a>
			</li>
			<li>
				<a class="btn btn-success" href="/JijGroup/Generic/Store/Location" data-toggle="modal" data-target=""><i class=""></i> Locations </a>
			</li>
			<li>
				<a class="btn btn-success" href="/JijGroup/Generic/Order/GetOrder" data-toggle="modal" data-target=""><i class=""></i> Order </a>
			</li>
			<li>
				<a class="btn btn-success" href="/JijGroup/Generic/Order/OrderFilter" data-toggle="modal" data-target=""><i class=""></i> Order Filter </a>
			</li>
			<li>
				<a class="btn btn-success" href="/JijGroup/Generic/Order/GetOpenFilter" data-toggle="modal" data-target=""><i class=""></i> Open Order </a>
			</li>
		</ul>
	</div>
</div>
