<div class="leftside">
			<div class="sidebar">
				<!-- BEGIN RPOFILE -->
				<div class="nav-profile">
					<div class="thumb">
						<?php
						if($this->session->read('Auth.User.id') > 0)
						{	
							$getCommonHelper = $this->Common->getUserDataAfterLogin( $this->session->read('Auth.User.id') );
							
							/* Set FirstName with LastName*/
							$getUserName = $this->Common->getFirstLastName( $this->session->read('Auth.User.id') );
						} 
						?>
                        <?php
						    $userImage = $getCommonHelper['User']['user_image'];
							$userName = $getCommonHelper['User']['first_name'].' '.$getCommonHelper['User']['last_name'];
							if( isset( $userImage ) && $userImage != "" )
							{
								print $this->html->image( 'upload/'.$userImage, array( "class" => "img-circle", "title" => $userName ) );			
							}
                        ?>  
						<!--<span class="label label-danger label-rounded">3</span>-->
					</div>
					<div class="info">
						<a href="#"><?php print $getUserName; ?></a>
					</div>
					<a href="<?php print Router::url(array('controller' => 'users', 'action' => 'logout')); ?>" class="button"><i class="ion-log-out"></i></a>
				</div>
				<!-- END RPOFILE -->
				<!-- BEGIN NAV -->
				<div class="title">Navigation</div>
					<ul class="nav-sidebar">
						<li class="active">
                            <a title="Dashboard" href="javascript::void(0);">
                                <i class="ion-home"></i> <span>Dashboard</span>
                            </a>
                        </li>
						
						<!-- Start here user section -->
						<li class="nav-dropdown">
                            <a title="Roles" href="#">
                                <i class="ion-wand"></i> <span>Roles</span>
                                <i class="ion-chevron-right pull-right"></i>
                            </a>
                            <ul>
									<li><a href="/showRoles">Show Roles</a></li>
									<li><a href="/managerole">Add New Roles</a></li>									
                            </ul>
                        </li>						
						<!-- End here role section -->
						
						<!-- Start here user section -->
						<li class="nav-dropdown">
                            <a title="Users" href="#">
                                <i class="fa fa-users"></i> <span>Users</span>
                                <i class="ion-chevron-right pull-right"></i>
                            </a>
                            <ul>
									<li><a href="/showList">Show All Users</a></li>
									<li><a href="/register">Register User</a></li>									
                            </ul>
                        </li>
						<!-- End here user section -->
						
						<!-- Start here state & city section -->
						<li class="nav-dropdown">
                            <a title="Region" href="#">
                                <i class="fa fa-map-marker"></i> <span>Region</span>
                                <i class="ion-chevron-right pull-right"></i>
                            </a>
                            <ul>
									<li class="nav-dropdown dropdown-submenu" ><a href="#">Country</a>
									<ul class="dropdown-menu">
									<li><a href="/showallLocation">Show All Countries</a></li>
									<li><a href="/manageCounty">Add Country</a></li>
									</ul>
									</li>
									<li class="nav-dropdown dropdown-submenu" ><a href="#">State</a>
									<ul class="dropdown-menu">
									<li><a href="/showallStates">Show All States</a></li>
									<li><a href="/manageState">Add State</a></li>
									</ul>
									</li>
									<li class="nav-dropdown dropdown-submenu" ><a href="#">City</a>
									<ul class="dropdown-menu">
									<li><a href="/showallCities">Show All Cities</a></li>
									<li><a href="/manageCity">Add City</a></li>
									</ul>
									</li>
                            </ul>
                        </li>
						
						<!-- Start here warehouse section -->
						<li class="nav-dropdown">
                            <a title="Warehouse" href="#">
                                <i class="fa fa-cubes"></i> <span>Warehouse</span>
                                <i class="ion-chevron-right pull-right"></i>
                            </a>
                            <ul>
									<li><a href="/showallWarehouses">Show All Warehouse</a></li>
									<li><a href="/manageWarehouse">Add Physical Warehouse</a></li>
                            </ul>
                        </li>
						<!-- End here warehouse section -->
						
						<!-- Start here client section -->
						<li class="nav-dropdown">
                            <a title="Clients" href="#">
                                <i class="ion-ios-color-filter-outline"></i> <span>Clients</span>
                                <i class="ion-chevron-right pull-right"></i>
                            </a>
                            <ul>
									<li><a href="/showall/Client/List">Show All Client</a></li>
									<li><a href="/manage/client/new">Add Client</a></li>
                            </ul>
                        </li>
						<!-- End here client section -->
						<!-- Start here for Inventory section -->
						<li class="nav-dropdown">
                            <a title="Inventory Management" href="#">
                                <i class="ion-clipboard"></i> <span>Inventory Management</span>
                                <i class="ion-chevron-right pull-right"></i>
                            </a>
                            <ul>
									<li class="nav-dropdown dropdown-submenu" ><a title="Suppliers" href="#">
								
                                <i class="ion-android-person-add"></i> Suppliers
                                <i class="ion-chevron-right pull-right"></i>
                            </a>
                            <ul class="dropdown-menu">
									<li><a href="/showAllSupplier">Show Supplier</a></li>
									<li><a href="/manageSupplier">Add New Supplier</a></li>	
						    </ul>
									</li>
									<li class="nav-dropdown dropdown-submenu" ><a title="Categories" href="#">
                                <i class="ion-merge"></i> Categories
                                <i class="ion-chevron-right pull-right"></i>
								
                            </a>
                            <ul class="dropdown-menu">
									<li><a href="/manageCategory">Add New Category</a></li>	
									<li><a href="/showAllCategory">Show Category</a></li>	
						    </ul>
									</li>
									<li class="nav-dropdown dropdown-submenu" ><a title="Brands" href="#">

								<i class="fa fa-shirtsinbulk"></i> Brands
								<i class="ion-chevron-right pull-right"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/showAllBrand">Show Brands</a></li>
								<li><a href="/manageBrand">Add Brand</a></li> 
							</ul>
									</li>
									<li class="">
							<a title="Product Attributes" href="/attribute">
								<i class="fa fa-buysellads"></i> Product Attributes
							</a>
						</li>
                            </ul>
                        </li>
						<!-- End here Inventory section -->
						<!-- Start here for supplier section -->
						
						<!-- End here user for supplier section -->
						
						<!-- Start here for category section -->
						
						<!-- End here user for category section -->
						
						<!-- Start here for Brands section -->
						
						<!-- End here user for Brands section -->
						
						<!-- Start here for attribute section -->
						
						<!-- End here user for attribute section -->
						
						<!-- Start here for linnworks API -->
						<li class="">
							<a title="Linnworks API" href="/linnworksapis">
								<i class="fa fa-plug"></i> <span>Linnworks API</span>
							</a>
						</li>
						<li class="">
							<a title="Delivery Matrix" href="/linnworksapis">
								<i class="ion-grid"></i> <span>Delivery Matrix</span>
								<ul>
							<li><a href="/JijGroup/showallmatrix">Show Matrix</a></li>
							<li><a href="/JijGroup/DeleveryMatrix">Add Matrix</a></li> 	
						</ul>
							</a>
						</li>
						<!-- End here user for linnworks API -->
						
						
						
						<!-- Start here for Products section 
						<li class="nav-dropdown">
                            <a href="#">
								
                                <i class="fa fa-cube"></i><span>Products Management</span>
                                <i class="ion-chevron-right pull-right"></i>
                            </a>
                            <ul>
									<li><a href="/showAllProducts">Show Products</a></li>
									<li><a href="/manageProducts">Add Product</a></li>	
						    </ul>
                        </li>-->
						<!-- End here user for Products section -->
						
						
						
						
						
						
                        <!--<li>
							<a href="inbox.html">
								<i class="ion-email"></i> <span>Inbox</span>
								<span class="label pull-right">10</span>
							</a>
						</li>
                        <li class="nav-dropdown">
                            <a href="#">
                                <i class="ion-beaker"></i> <span>UI Elements</span>
                                <i class="ion-chevron-right pull-right"></i>
                            </a>
                            <ul>
                                <li><a href="panels.html">Panels</a></li>
                                <li><a href="tiles.html">Tiles</a></li>
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="material.html">Material Colors</a></li>
                                <li><a href="icons.html">Icons</a></li>
                                <li><a href="buttons.html">Buttons</a></li>
                                <li><a href="sliders.html">Sliders</a></li>
                            </ul>
                        </li>
                        <li class="nav-dropdown">
                            <a href="#">
                                <i class="ion-compose"></i> <span>Forms</span>
                                <i class="ion-chevron-right pull-right"></i>
                            </a>
                            <ul>
                                <li><a href="form-elements.html">Form Elements</a></li>
                                <li><a href="form-validation.html">Form Validation</a></li>
                                <li><a href="form-layouts.html">Form Layouts</a></li>
                                <li><a href="form-advanced.html">Advanced Plugins</a></li>
                                <li><a href="file-upload.html">File Upload</a></li>
                                <li><a href="text-editor.html">Text Editors</a></li>
                            </ul>
                        </li>
                        <li class="nav-dropdown">
                            <a href="#">
                                <i class="ion-navicon-round"></i> <span>Tables</span>
                                <i class="ion-chevron-right pull-right"></i>
                            </a>
                            <ul>
                                <li><a href="basic-tables.html">Basic tables</a></li>
                                <li><a href="data-tables.html">Data tables</a></li>
                            </ul>
                        </li>
						<li class="nav-dropdown">
                            <a href="#">
                                <i class="ion-arrow-graph-up-right"></i> <span>Charts</span>
                                <i class="ion-chevron-right pull-right"></i>
                            </a>
                            <ul>
                                <li><a href="flot.html">Flot</a></li>
                                <li><a href="morris.html">Morris</a></li>
                            </ul>
                        </li>
						<li class="nav-dropdown">
                            <a href="#">
                                <i class="ion-paper-airplane"></i> <span>Layouts</span> 
                                <i class="ion-chevron-right pull-right"></i>
                            </a>
							<ul>
                                <li><a href="fixed-header.html">Fixed Header</a></li>
                                <li><a href="fixed-sidebar.html">Fixed Sidebar</a></li>
                                <li><a href="fixed-layout.html">Fixed Layout</a></li>
                                <li><a href="collapsed-sidebar.html">Collapsed Sidebar</a></li>
                            </ul>
                        </li>
                        <li>
							<a href="calendar.html">
								<i class="ion-calendar"></i> <span>Calendar</span>
								<span class="label bg-green-700 pull-right">NEW</span>
							</a>
						</li>
                        <li class="nav-dropdown">
							<a href="#">
								<i class="ion-ios-location"></i> <span>Map</span>
                                <i class="ion-chevron-right pull-right"></i>
							</a>
							<ul>
								<li><a href="vectormap.html">Vector Map</a></li>
								<li><a href="googlemap.html">Google Map</a></li>
                            </ul>
						</li>
                        <li class="nav-dropdown">
                            <a href="#">
                                <i class="ion-document-text"></i> <span>Other Pages</span>
                                <i class="ion-chevron-right pull-right"></i>
                            </a>
                            <ul>
                                <li><a href="invoice.html">Invoice</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="lockscreen.html">Lockscreen</a></li>
                                <li><a href="timeline.html">Timeline</a></li>
                                <li><a href="404.html">404 Error</a></li>
                                <li><a href="500.html">500 Error</a></li>
                                <li><a href="blank.html">Blank Page</a></li>
                            </ul>
                        </li>-->
                    </ul>
					<!-- END NAV -->				
			</div><!-- /.sidebar -->
        </div>
