<div class="rightside bg-grey-100">
    <!-- BEGIN PAGE HEADING -->
    <div class="page-head bg-grey-100">        
        <h1 class="page-title"><?php print $title;?></h1>
    </div>
    <!-- END PAGE HEADING -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <div class="panel">                            
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-2">
        
                        <div class="panel-body padding-bottom-40 padding-top-40">    
                            <div id="content" class="col-lg-6" >
								<?php $i = 1; foreach($files as $file) { ?>
								<div>
								 	<a href="http://development.xsensys.com/img/printPDF/Bulk/<?php echo $file ?>"><?php echo '<b>('.$i.') </b>&nbsp;'.$file; $i++; ?></a> 
								</div>
								<?php } ?>
							</div>	
						</div>						
   						</div>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>        
</div>





<script type="text/javascript">
jQuery(document).ready(function ($) {
$('#tabs').tab();
});
</script>
</div> 


