div.suggestions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;
}

div.suggestions div {
    cursor: default;
    padding: 0px 3px;
}

div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}

.searchComp{left: 0;
    position: absolute;
    top: 55px;
    width: -moz-available;
    background-color:#e2e2e2;
    margin-left:20px;
    margin-right:20px;
    z-index:999;
    }
.searchComp::before{
	border-color: -moz-use-text-color transparent #e2e2e2;
    border-style: none solid solid;
    border-width: medium 7px 7px;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    position: absolute;
    top: -7px;
    width: 0;
    z-index: 9999;
    }
.searchComp ul{margin-left:-40px; max-height:350px; overflow-y:scroll}    
.searchComp li{list-style:none; border-bottom:1px solid #fff; }
.searchComp li{background-color:#e2e2e2; font-size:12px}
.searchComp li:hover{background-color:#ffffff; cursor:pointer;  font-size:15px; }

.searchComp li span{display:inline-block; width:auto}


.searchComp li .rTable {
			  	display: block;
			  	width: 100%;
			}
.searchComp li .rTableHeading, .searchComp li .rTableBody, .searchComp li .rTableFoot, .searchComp li .rTableRow{
			  	clear: both;
			}

			 
.searchComp li .rTableHead, .searchComp li .rTableFoot{
			  	background-color: #DDD;
			}
.searchComp li .rTableCell, .searchComp li .rTableHead {
			  	float: left;
			  	overflow: hidden;
			  	padding: 3px 1.8%;
			}
.searchComp li .one{width:50%}
.searchComp li .two{width:25%}
.searchComp li .three{width:25%}
.searchComp li .rTable:after {
			  	 visibility: hidden;
			  	 display: block;
			  	 font-size: 0;
			  	 content: " ";
			  	 clear: both;
			  	 height: 0;
			}
