.iconButtons li {
  padding: 0px 40px 0px 0px !important;
  font-size: 25px !important;
  line-height: 0; }
.iconButtons a {
  min-width: 25px; }

.img-center {
  margin: 0 auto; }

.auth-page {
  background: url("../img/bg.jpg") !important;
  background-size: cover !important; }

.bg-jij-600 {
  background: #293c4e !important; }

.alert-danger {
  background-color: #f2dede !important; }

.rack_block {
  margin-left: -25px; }

.modal-header {
  color: white !important; }

.modal-body {
  background-color: whitesmoke !important; }

.modal-content {
  background-color: #424242 !important; }
  .modal-content .close {
    color: white !important;
    opacity: 0.8 !important; }

.modal-wide .modal-dialog {
  width: 98%; }
.modal-wide .modal-body {
  overflow-y: auto; }

.form-control, .wysihtml5-sandbox {
  background-color: #f2f2f2;
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px; }

.btn-dropdown {
  background-color: #f2f2f2;
  border: 1px solid #c6c6c6;
  color: rgba(0, 0, 0, 0.6); }

.dropdown-menu {
  background-clip: inherit; }

input[type="file"] {
  padding: 0; }

.rackContainer .label {
  border: 2px solid #d5d5d5 !important;
  font-size: 10px;
  font-weight: normal;
  padding: 2px 5px;
  position: relative;
  right: 14px;
  top: -13px; }
.rackContainer .add_rack {
  font-size: 11px;
  text-align: left;
  width: 100px; }
.rackContainer .rackBox {
  width: 130px; }
.rackContainer .rackEmpty {
  width: 100px;
  background: none repeat scroll 0 0 transparent;
  border: 2px dashed rgba(0, 0, 0, 0.1);
  box-shadow: none;
  text-align: left;
  font-size: 11px; }

.input-group-btn .btn.btn-file > input[type="file"] {
  top: -1px;
  left: -1px; }

.panel-heading .accordion-toggle {
  display: block; }
.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  content: "\e114";
  /* adjust as needed, taken from bootstrap.css */
  float: right;
  /* adjust as needed */
  color: grey;
  /* adjust as needed */ }
.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";
  /* adjust as needed, taken from bootstrap.css */ }

.submenu {
  float: right;
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 14px; }
  .submenu .navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 10px; }
    .submenu .navbar-nav > li > a:focus {
      background-color: #27ae60; }
      
      .level2menu {
  position: relative;
  left:30px;
  font-size: 14px; }
  .level2menu .navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 10px; }
    .level2menu .navbar-nav > li > a:focus {
      background-color: #27ae60; }
	  
.set_search_po .table > tbody > tr > td, .set_search_po .table > tbody > tr > th, .set_search_po .table > tfoot > tr > td, .set_search_po .table > tfoot > tr > th, .set_search_po .table > thead > tr > td, .set_search_po .table > thead > tr > th{padding: 3px 3px;}

.countQty{padding:2px; height:22px;}

.tabs-right > li > a {
  padding: 5px 15px; }

/* Bottom to top scroll*/
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #777777;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .scroll-top-wrapper:hover {
    background-color: #888888; }
  .scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0; }
  .scroll-top-wrapper i.fa {
    line-height: inherit; }

/* Bottom to top scroll*/
.rack td {
  border: black 0 solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding: 1px 0; }
.rack .command {
  cursor: pointer; }
.rack .add_section {
  background: #5cb85c;
  border: 1px solid #4cae4c; }
.rack .add_level {
  border: 1px solid #06789a;
  text-align: center;
  background: #2dbee2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2dbee2 0%, #80e9ed 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2dbee2), color-stop(100%, #80e9ed));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2dbee2 0%, #80e9ed 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2dbee2 0%, #80e9ed 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2dbee2 0%, #80e9ed 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2dbee2 0%, #80e9ed 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dbee2', endColorstr='#80e9ed',GradientType=0 );
  /* IE6-9 */ }
  .rack .add_level:hover {
    background: #98fdff;
    border: 1px solid #46b8da; }
.rack .add_bin {
  border: 0 solid #4cae4c;
  line-height: 16px;
  text-align: center;
  vertical-align: bottom; }
.rack .del_section {
  background: #d9534f;
  border: 1px solid #d43f3a;
  text-align: center;
  background: #e55e5e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e55e5e 0%, #e5b5b5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e55e5e), color-stop(100%, #e5b5b5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e55e5e 0%, #e5b5b5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e55e5e 0%, #e5b5b5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e55e5e 0%, #e5b5b5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e55e5e 0%, #e5b5b5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e55e5e', endColorstr='#e5b5b5',GradientType=0 );
  /* IE6-9 */ }
  .rack .del_section:hover {
    background: #ff9c98;
    border: 1px solid #fe6c67; }
.rack .level {
  vertical-align: bottom;
  border: 1px solid #cccccc;
  color: #999999; }
  .rack .level:hover {
    vertical-align: bottom;
    border: 1px solid #cccccc;
    background: #f3f3f3;
    color: black; }
  .rack .level:hover > a {
    opacity: 1; }
.rack tr {
  height: 0; }
.rack .level > a {
  float: right;
  opacity: 0.1; }
.rack .bins {
  width: 100%;
  font-size: 75%; }
  .rack .bins TD:last-child {
    width: 1%; }
.rack .bin {
  border: 0 solid #eea236;
  text-align: center; }
  .rack .bin a {
    color: red;
    float: none !important; }
    .rack .bin a .fa {
      opacity: 1 !important; }
  .rack .bin:hover > a {
    opacity: 1; }
.rack .bin > a {
  float: right;
  opacity: 0.5; }
.rack .nobin {
  border: none; }
.rack a {
  text-decoration: none; }

.section {
  min-width: 80px; }

.rotate {
  text-align: center;
  opacity: 0.4;
  position: relative; }

.add_sectionTxt {
  -webkit-transform: 90deg;
  -moz-transform: 90deg;
  -ms-transform: 90deg;
  transform: 90deg;
  margin: -10px;
  display: block;
  color: #333333; }
  .add_sectionTxt:hover {
    color: black; }

.delBin {
  color: #333333 !important;
  opacity: 0.3;
  display: block;
  position: relative;
  text-align: center;
  line-height: 8px; }

.levelSection {
  width: 100%; }
  .levelSection td {
    padding: 1px 0; }

.levelTable {
  border: 1px solid #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .levelTable td {
    padding: 1px 0; }

.warehouse table {
  border-collapse: separate;
  border-spacing: 1px; }

.bin i {
  font-size: 15px; }

.sidebar-sm .leftside .nav-profile .info {
  display: block; }

header .navbar .nav a {
  border-left: 1px dashed #696969; padding:15px 5px; }

header .navbar .nav > li > a {
  color: white;
  opacity: 0.6; }

header .navbar .nav > li > a:hover {
  opacity: 1; }

header .navbar .sidebar-toggle .icon-bar {
  background: white; }

header .navbar .nav > li > a:hover, header .nav > li > a:focus, header .nav .open > a, header .nav .open > a:hover, header .nav .open > a:focus {
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
  color: #ffffff; }

header .navbar {
  background: #293c4e none repeat scroll 0 0; }

header .dropdown-menu {
  margin-top: 0px !important; }

.sidebar-sm .leftside .nav-sidebar > li > a > i {
  font-size: 16px; }

header .navbar {
  padding: 0; }
  
  .error-message{color:#ff0000;}
  
  
  
  .dropdown-submenu {
    position: relative;
}

.submenu .navbar-nav > li button {
    margin-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.threeDtext{text-shadow:1px 1px 0 #ccc, 2px 2px 0 #ccc, 2px 2px 0 #999, 2px 2px 5px #999;}
.threeDgreen{text-shadow:1px 1px 0 #207d24, 2px 2px 0 #16731a, 2px 2px 0 #999, 2px 2px 5px #000}

.panelrotate{transform:rotate(-90deg);}
.sortingBox{padding:0px 1px; width:57px}
.sortingBox .help-block {font-size:9px;font-family: Trebuchet MS;}
.sortingBox .panel-body{	min-height:135px;padding:3px!important;}
.bagNumber{background: #f44336 none repeat scroll 0 0;
    border-radius: 10px;
    bottom: -2px;
    height: 17px;
    padding: 4px;
    right: -2px;
    width: 17px;
    z-index: 999;}
.locationFlag{
    bottom: 0px;
    left: 10px;
    z-index: 999;}
.productTitle span{border-bottom:1px dashed #cccccc; display:block; margin-bottom:3px; padding-bottom:3px;}
.productTitle span:last-child{border-bottom:0px;margin-bottom:0px; padding-bottom:0px;}
/*.navbar-fixed-top{top:50px}
.fixed-leftside.sidebar-sm .rightside{margin-top:50px;}
.leftside{padding-top:100px;}*/


.tab-pane-container .popover {
  max-width:1100px!important;
  font-size:11px;
}
.popoverTable td{padding:1px; width:25%}
.popoverTable td div{background:#f2f2f2;padding:2px;}
.popoverTable td table{margin-top:5px;}
.popoverTable td table td{width:auto}
.popoverTable td table div{background:#f9f9f9;padding:2px;}
.tab-pane-container table{width:100%}
.tab-pane-container th{font-size:14px}

.docketTable{width:100%}
.docketTable label{color:#a00000; font-family:ariel; margin-bottom:0px;}
.docketTableHeaderRow
{
}

.docketTableHeader
{
    font-family:Arial;
    font-size:x-small;
    font-weight:normal;
    font-style:italic;
    text-align:right;    
    padding-left:10px;
    padding-right:10px;
    color:#A00000;
}

.docketTableItemRow
{}

.docketTableItem
{    
    text-align:right;
    font-family:Arial;
    font-size:small;
    font-weight:bold;
    padding-left:10px;
    padding-right:10px;
    color:#A00000;
    border-style:none;
}

.docketTableItemInvisible
{
    display:none;
}

.docketTableItemEditable
{    
    text-align:right;
    font-family:Arial;
    font-size:small;
    font-weight:bold;
    padding-left:10px;
    padding-right:10px;
    color:#A00000;
    background-color:#FFF0F0;
    border-style:none;
    cursor:pointer;
    cursor:hand;
}

.docketTableTotalRow
{}

.docketTableTotal
{    
    text-align:right;
    font-family:Arial;
    font-size:small;
    font-weight:bold;
    padding-left:10px;
    padding-right:10px;
    color:#A00000;
    border-style:none;
}

.docketTableTotalEditable
{    
    text-align:right;
    font-family:Arial;
    font-size:small;
    font-weight:bold;
    padding-left:10px;
    padding-right:10px;
    color:#A00000;
    background-color:#FFF0F0;
    border-style:none;
}

.docketHeaderItem
{
    font-family:Arial;
    font-size:medium;
    font-weight:bold;
    text-align:left;    
    overflow:hidden;
    padding-left:10px;
    background-color:#FFC0C0;
    color:Black;
}

.countEditBox
{
    padding-left:2px;
    width:40px;
    text-align:right;
    font-family:Arial;
    font-weight:bold;
    border:none;
    background-color:#FFF0F0;
    color:#A00000;
    cursor:pointer;
    cursor:hand;
}

.countEditBoxInvalid
{
    padding-left:2px;
    width:40px;
    text-align:right;
    font-family:Arial;
    font-weight:bold;
    border-style:solid;
    border-width:1px;
    border-color:#A00000;
    background-color:#FFE0E0;
    color:#A00000;
    cursor:pointer;
    cursor:hand;
}

.nonEditableInput
{
    padding-left:2px;
    width:65px;
    text-align:right;
    font-family:Arial;
    font-weight:bold;
    border:none;
    background-color:transparent;
    color:#A00000;
}

.calculatedField
{
    width:40px;
    padding-left:2px;
    text-align:right;
    font-family:Arial;
    font-weight:bold;
    border:none;
    color:#A00000;
}

.docketTableItemSeparator
{
    width:10px;
}

.bannerLine {
    background-color: #d00000;
    border-style: none;
    clear: both;
    color: #d00000;
    height: 4px;
    width: 100%;
}

table.inputBorderel {
    font-size: 10px;
    color: rgb( 102, 102, 102 );
	width:100%;
}

table.inputBorderel th {
    text-align: center;
    border: 1px solid #CCCCCC;
    background-color: #F2F2F2;
}

table.inputBorderel table {
    border: 1px solid #CCCCCC;
}

table.inputBorderel td {
    vertical-align: top;
}

table.grid {
    border-collapse: collapse;
    margin-bottom: 5px;
    border: solid 1px #CCCCCC;
    font-size: 8pt;
    width: 94%;
}

.grid td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border: solid 1px #CCCCCC;
}

tr.alt {
    background-color: #F2F2F2;
}

.grid tr {
    text-align: left;
    font-size: 8pt;
}


.overlay {
  position: absolute;
}
.overlay.on {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.bg-theme {
    background-color: #293c4e!important
}

.pagination ul > li.myclass {
    float: left;
    padding: 4px 22px;
    line-height: 22px;
    text-decoration: none;
    background-color: #444444;
    border: 1px solid #dddddd;
    border-left-width: 0;
    color: #cccccc;
    cursor: default;
	font-size:18px;
}
.pagination ul > li.myclass1 {
    float: left;
    padding: 4px 12px;
    line-height: 22px;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #dddddd;
    border-left-width: 0;
    cursor: default;
}

.pagination ul > li.myclass1:first-child {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.pagination ul > li.myclass1:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}
	.pagination {
    border-radius: 4px;
    display: flex;
    margin: 0 auto;
    padding-left: 0;
	line-height:33px;
}

.leftside .nav-profile > .info > a {
    font-size: 12px;
}
.leftside .nav-profile > .thumb > img {
    margin-right: auto;
    width: auto;
	float:none;
}
.leftside .nav-profile > .info {
    float: none;
    margin-top: 5px;
    width: auto;
}
.sidebar-sm .leftside .nav-profile {
    padding: 0 5px;
    text-align: center;
}

#makeMeScrollable{font-size:11px; font-weight:normal;}
#makeMeScrollable label{font-size:11px; font-weight:normal;}

#makeMeScrollable .table > tbody > tr > td, #makeMeScrollable .table > tbody > tr > th, #makeMeScrollable .table > tfoot > tr > td, #makeMeScrollable .table > tfoot > tr > th, #makeMeScrollable .table > thead > tr > td, #makeMeScrollable .table > thead > tr > th{padding:2px;}

#makeMeScrollable .form-control{
padding:2px;
height:20px;
}
#makeMeScrollable .btn{
padding:2px;
font-size:10px;
}

/****************************************************************************/


#makeMeScrollable .form-control, #makeMeScrollable .wysihtml5-sandbox{font-size:12px; float:left}

.fixedTable .table {
  background-color: white;
  margin-bottom:0px;
}
.fixedTable .table tr td,
.fixedTable .table tr th {
  min-height: 20px;
  height: 20px;
  padding: 5px;
}
.fixedTable-header {
  width: 1116px;
  overflow: hidden;
  border-bottom: 1px solid #CCC;
}
.fixedTable-sidebar {
  width: 181px;
  max-height: 410px;
  min-height:100px;
  float: left;
  overflow: hidden;
  border-right: 1px solid #CCC;
}
.fixedTable-body {
  overflow: auto;
  width: 935px;
  max-height: 410px;
  min-height:100px;
  float: left;
}

#demo header {
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    z-index: 1;
}

#demo{font-size:11px; font-weight:normal;}
#demo label{font-size:11px; font-weight:normal;}

#demo .table > tbody > tr > td, #demo .table > tbody > tr > th, #demo .table > tfoot > tr > td, #demo .table > tfoot > tr > th, #demo .table > thead > tr > td, #demo .table > thead > tr > th{padding:2px;overflow:hidden}

#demo .form-control{
padding:2px;
height:auto;
}
#demo .btn{
 float: left;
    font-size: 10px;
    margin-left: 2px;
    padding: 3px;
}

#demo .form-control, #demo .wysihtml5-sandbox{font-size:12px; float:left}




		#makeMeScrollable
		{
			width:100%;
			position: relative;
		}
		
		/* Replace the last selector for the type of element you have in
		   your scroller. If you have div's use #makeMeScrollable div.scrollableArea div,
		   if you have links use #makeMeScrollable div.scrollableArea a and so on. */
		#makeMeScrollable div.scrollableArea img
		{
			position: relative;
			float: left;
			margin: 0;
			padding: 0;
			/* If you don't want the images in the scroller to be selectable, try the following
			   block of code. It's just a nice feature that prevent the images from
			   accidentally becoming selected/inverted when the user interacts with the scroller. */
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}
		
		#makeMeScrollable{font-size:11px; font-weight:normal;height:450px}
#makeMeScrollable label{font-size:11px; font-weight:normal;}

#makeMeScrollable .table > tbody > tr > td, #makeMeScrollable .table > tbody > tr > th, #makeMeScrollable .table > tfoot > tr > td, #makeMeScrollable .table > tfoot > tr > th, #makeMeScrollable .table > thead > tr > td, #makeMeScrollable .table > thead > tr > th{padding:2px;}

#makeMeScrollable .form-control{
padding:2px;
height:auto;
}
#makeMeScrollable .btn{
 float: left;
    font-size: 10px;
    margin-left: 2px;
    padding: 3px;
}

#makeMeScrollable .form-control, #makeMeScrollable .wysihtml5-sandbox{font-size:12px; float:left}

.po-dropdownr-right{right:0; left:auto}



/****************************************************************************/


/****************************************************************************/
.link{cursor:pointer;}
.modal-95{width:95%;}
.col-1{ width:1%; float:left;}
.col-2{ width:2%; float:left;}
.col-3{ width:3%; float:left;}
.col-4{ width:4%; float:left;}
.col-5{ width:5%; float:left;}
.col-6{ width:6%; float:left;}
.col-7{ width:7%; float:left;}	
.col-8{ width:8%; float:left;}
.col-9{ width:9%; float:left;}	
.col-10{ width:10%; float:left;}
.col-11{ width:11%; float:left;}	
.col-12{ width:12%; float:left;}
.col-13{ width:13%; float:left;}
.col-14{ width:14%; float:left;}	
.col-15{ width:15%; float:left;}
.col-16{ width:16%; float:left;}	
.col-17{ width:17%; float:left;}
.col-18{ width:18%; float:left;}	
.col-19{ width:19%; float:left;}	
.col-20{ width:20%; float:left;}	
.col-21{ width:21%; float:left;} 
.col-22{ width:22%; float:left;}	
.col-23{ width:23%; float:left;}
.col-24{ width:24%; float:left;}
.col-25{ width:25%; float:left;}
.col-26{ width:26%; float:left;}
.col-27{ width:27%; float:left;}
.col-28{ width:28%; float:left;}
.col-29{ width:29%; float:left;}	
.col-30{ width:30%; float:left;}
.col-32{ width:32%; float:left;}
.col-34{ width:34%; float:left;}
.col-35{ width:35%; float:left;}
.col-36{ width:36%; float:left;}
.col-38{ width:38%; float:left;}
.col-40{ width:40%; float:left;}
.col-42{ width:42%; float:left;}
.col-44{ width:44%; float:left;}
.col-46{ width:46%; float:left;}
.col-48{ width:48%; float:left;}
.col-50{ width:50%; float:left;}
.col-52{ width:52%; float:left;}
.col-54{ width:54%; float:left;}
.col-56{ width:56%; float:left;}
.col-58{ width:58%; float:left;}
.col-60{ width:60%; float:left;}
.col-62{ width:62%; float:left;}
.col-64{ width:64%; float:left;}
.col-66{ width:66%; float:left;}
.col-68{ width:68%; float:left;}
.col-70{ width:70%; float:left;}
.col-72{ width:72%; float:left;}
.col-74{ width:74%; float:left;}
.col-76{ width:76%; float:left;}
.col-78{ width:78%; float:left;}
.col-80{ width:80%; float:left;}
.col-82{ width:82%; float:left;}
.col-84{ width:84%; float:left;}
.col-86{ width:86%; float:left;}
.col-88{ width:88%; float:left;}
.col-90{ width:90%; float:left;}
.col-92{ width:92%; float:left;}
.col-94{ width:94%; float:left;}
