@page { margin: 0px 28px 0px 28px; }
body{margin:0px; padding:0}
#label{padding:5px; font-size:11px; color:#000000; font-family:"DejaVu Sans", Helvetica,Arial,sans-serif;}
#label .container{width:100%}
.header,  .cn22,  .tablesection,  .footer{border-bottom:1px solid #000000; clear:both; }
 .footer{font-size:10px;}
 .header1{width:auto;}
 .leftside,  .rightside,  .date,  .sign{ width:50%}
 .jpoststamp{border:1px solid #000000; padding:0px;}
 .stampnumber{width: 20%; border:1px solid #000000; padding:4px; background:#000000;  color:#ffffff; text-align:center; font-size:22px;}
 .jerseyserial{     padding: 0 5px;    width: 80%;text-transform:uppercase; font-size:12px;font-weight:bold}
  .vatnumber{     padding: 2px 0 0 0; font-size:11px;font-weight:bold; width:100%}
 h1{ font-size:12px; margin:0px; }
 h3{font-size:11px;font-weight:bold; margin:0}
 h4{font-size:14px;font-weight:bold; margin:0}
 .rightheading{text-align:center;}
 .fullwidth{clear:both}
 .fullwidth h2{text-align:center; font-size:14px; font-weight:bold; margin:0; padding:5px 0;}
 .fullwidth p{ margin-top:5px; margin-bottom:0px;}
 .producttype{margin-bottom:5px; }
 .producttype td{font-size:11px}
 .producttype div{width:25%; display:inline-block;}
 .producttype span{border: 1px solid #000000;
    display: inline-block;
    font-size: 9px;
    height: 12px;
    margin-right: 2px;
    text-align: center;
    width: 12px;}
	
table{border:none; width:100%; }
	 
 th{font-weight:bold;font-size:10px; }
 th,td{padding:0px;font-size:12px; text-align:left}
 td table td{padding:0px;}
 
 .norightborder{border-right:0px;}
 .noleftborder{border-left:0px;}
 .rightborder{border-right:1px solid #000000;}
 .leftborder{border-left:1px solid #000000;}
 .topborder{border-top:1px solid #000000;}
 .bottomborder{border-bottom:1px solid #000000;}
 .center{text-align:center}
 .right{text-align:right}
 .bold{font-weight:bold;font-size:12px; }
 .sign{ margin-top: -20px;}
 .barcode{padding:5px 0;}
 .barcodeleft{width:150px;}
 .tracking{padding:5px 0;font-size:10px}
 .address{font-size:12px; font-family:"DejaVu Sans"; line-height:14px}
 .barcode div{}
 .otherinfo{width:40%;  margin-top:5px}
 .totalprice{width:60%;  margin-top:5px}
 .tablesection{padding:0px 0px 8px ; margin-top:-1px}
 
 .countrycode h3 {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-weight: 800;
	color:#999999;
}
.aprior div, .bpost div {
    font-size: 9px;
    line-height: 1;
	margin-top:5px;
}

.aprior .po, .bpost .po {
    font-size: 18px;
    line-height: 1;
	margin-top:5px;
}
.sflBarcode img{width:250px;}
.rainbowBarcode img{width:250px;}
