<div class="rightside bg-grey-100">
    <!-- BEGIN PAGE HEADING -->
    <div class="page-head bg-grey-100">        
        <h1 class="page-title">Product Scan </h1>
        <h5> ( This page should only be used for providing product related details, Checkin is not allowed.To do the Checkin Please go to Checkin Page. ) </h5>
    </div>
    <!-- END PAGE HEADING -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <div class="panel">                            
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <?php
                                 //print $this->form->create( 'product', array( 'class'=>'form-horizontal bv-form', 'type'=>'post','id'=>'saveuser','enctype'=>'multipart/form-data' ));
                                 //print $this->form->input( 'User.id', array( 'type'=>'hidden') );                                 
                            ?>
                                <div class="form-horizontal panel-body padding-bottom-40 padding-top-40">

									   <div class="form-group">
											<label class="col-sm-3 control-label">Barcode</label>
											<div class="col-sm-7">                                               
												<?php
													print $this->form->input( 'Product.barcode', array( 'type'=>'text','class'=>'form-control selectpicker','data-style'=>'btn-dropdown', 'div'=>false, 'label'=>false, 'required'=>false ) );
												?>
												<!--<p class="help-block no-margin" >( SKU, Barcode, Title )</p> --> 
											</div>
										</div>
                                      
                                      <div class="form-group">
                                        <label for="username" class="control-label col-lg-3">Title</label>                                        
                                        <div class="col-lg-7">                                            
                                            <?php
                                                print $this->form->input( 'Product.title', array( 'type'=>'text','div'=>false,'label'=>false,'class'=>'form-control', 'required'=>false ) );
                                            ?>
                                        </div>
                                      </div>
                                      
                                      <!--<div class="form-group">
                                        <label for="username" class="control-label col-lg-3">Short Description</label>                                        
                                        <div class="col-lg-7">                                            
                                            <?php
                                                print $this->form->input( 'Product.short_desc', array( 'type'=>'textarea','div'=>false,'label'=>false,'class'=>'form-control', 'required'=>false ) );
                                            ?>
                                        </div>
                                      </div>
									  
									  <div class="form-group">
                                        <label for="username" class="control-label col-lg-3">Long Description</label>                                        
                                        <div class="col-lg-7">                                            
                                            <?php
                                                print $this->form->input( 'Product.logn_desc', array( 'type'=>'textarea','div'=>false,'label'=>false,'class'=>'form-control', 'required'=>false ) );
                                            ?>
                                        </div>
                                      </div>-->
                                      
                                      <div class="form-group">
                                        <label for="username" class="control-label col-lg-3">SKU / Bin</label>                                        
                                        <div class="col-lg-7">                                            
                                            <?php
                                                print $this->form->input( 'Product.sku', array( 'type'=>'text','div'=>false,'label'=>false,'class'=>'form-control', 'required'=>false ) );
                                            ?>
                                        </div>
                                      </div>
                                      
                                      <!--<div class="form-group">
                                        <label for="username" id="stockLabel" class="control-label col-lg-3">Available Stock</label>                                        
                                        <div class="col-lg-7">                                            
                                            <?php
                                                print $this->form->input( 'stock', array( 'type'=>'text','div'=>false,'label'=>false, 'readonly' => 'readonly' ,'class'=>'form-control', 'required'=>false ) );
                                            ?>
                                        </div>
                                      </div>
                                      
                                      <div class="form-group">
                                        <label for="username" class="control-label col-lg-3">Length(mm)</label>                                        
                                        <div class="col-lg-7">                                            
                                            <?php
                                                print $this->form->input( 'Product.length', array( 'type'=>'text','div'=>false,'label'=>false,'class'=>'form-control', 'required'=>false ) );
                                            ?>
                                        </div>
                                      </div>-->
                                      
                                      <!--<div class="form-group">
                                        <label for="username" class="control-label col-lg-3">Width(mm)</label>                                        
                                        <div class="col-lg-7">                                            
                                            <?php
                                                print $this->form->input( 'Product.width', array( 'type'=>'text','div'=>false,'label'=>false,'class'=>'form-control', 'required'=>false ) );
                                            ?>
                                        </div>
                                      </div>
                                      
                                      <div class="form-group">
                                        <label for="username" class="control-label col-lg-3">Height(mm)</label>                                        
                                        <div class="col-lg-7">                                            
                                            <?php
                                                print $this->form->input( 'Product.height', array( 'type'=>'text','div'=>false,'label'=>false,'class'=>'form-control', 'required'=>false ) );
                                            ?>
                                        </div>
                                      </div>
                                      
                                      <div class="form-group">
                                        <label for="username" class="control-label col-lg-3">Weight(Kg)</label>                                        
                                        <div class="col-lg-7">                                            
                                            <?php
                                                print $this->form->input( 'Product.weight', array( 'type'=>'text','div'=>false,'label'=>false,'class'=>'form-control', 'required'=>false ) );
                                            ?>
                                        </div>
                                      </div>-->
                                      <div class="brandSelect"></div>
                                      <!--<div class="form-group">
                                        <label for="username" class="control-label col-lg-3">Packaging Types</label>                                        
                                        <div class="col-lg-7">                                            
                                            <?php
                                            if(count($packageType) > 0)
                                                print $this->form->input( 'packagingType', array( 'type'=>'select', 'empty'=>'Choose Variants', 'div'=>false,'options'=> $packageType, 'label'=>false,'class'=>'form-control', 'required'=>false ) );
                                            ?>
                                        </div>
                                      </div>
                                      
									  <div class="form-group brandSelect">
                                        <label for="username" class="control-label col-lg-3">Brand</label>                                        
                                        <div class="col-lg-7">                                            
                                            <?php
                                            if(count($brandName) > 0)
                                                print $this->form->input( 'Product.brand', array( 'type'=>'select', 'empty'=>'Choose Brand', 'div'=>false,'options'=> $brandName, 'label'=>false,'class'=>'form-control', 'required'=>false ) );
                                            ?>
                                        </div>
                                      </div>-->
                                      
                                      <!-- bin assosiation --->
                                      
                                      <!--<div class="form-group">
                                        <label for="username" class="control-label col-lg-3">Floor Level</label>                                        
                                        <div class="col-lg-7 floor_number">                                            
                                            <?php
                                            if(count($setNewGroundArray) > 0)
                                                print $this->form->input( 'groundFloor', array( 'multiple' => 'multiple' , 'type'=>'select', 'empty'=>'Choose Floor Level', 'div'=>false,'options'=> $setNewGroundArray, 'label'=>false,'class'=>'form-control', 'required'=>false ) );
                                            ?>
                                        </div>
                                      </div>
                                      
                                      <div class="form-group">
                                        <label for="username" class="control-label col-lg-3">Rack Number</label>                                        
                                        <div class="col-lg-7 rack_Number">                                            
                                            <?php
                                            if(count($rack) > 0)
                                                print $this->form->input( 'rackNumber', array( 'multiple' => 'multiple' , 'type'=>'select', 'empty'=>'Choose Rack Number', 'div'=>false,'options'=> $rack, 'label'=>false,'class'=>'form-control', 'required'=>false ) );
                                            ?>
                                        </div>
                                      </div>
                                      
                                      <div class="form-group">
                                        <label for="username" class="control-label col-lg-3">Level Number</label>                                        
                                        <div class="col-lg-7 level_Number">                                            
                                            <?php
                                            if(count($rackLevel) > 0)
                                                print $this->form->input( 'levelNumber', array( 'multiple' => 'multiple' , 'type'=>'select', 'empty'=>'Choose Level Number', 'div'=>false,'options'=> $rackLevel, 'label'=>false,'class'=>'form-control', 'required'=>false ) );
                                            ?>
                                        </div>
                                      </div>
                                      
                                      <div class="form-group">
                                        <label for="username" class="control-label col-lg-3">Section Number</label>                                        
                                        <div class="col-lg-7 section_Number">                                            
                                            <?php
                                            if(count($rackSection) > 0)
                                                print $this->form->input( 'sectionNumber', array( 'multiple' => 'multiple' , 'type'=>'select', 'empty'=>'Choose Section Number', 'div'=>false,'options'=> $rackSection, 'label'=>false,'class'=>'form-control', 'required'=>false ) );
                                            ?>
                                        </div>
                                      </div>-->
                                      
                                      <div class="form-group count">
                                        <label for="username" class="control-label col-lg-3">Primary Bin Location</label>                                        
                                        <div class="col-lg-3">                                            
                                            <?php
                                                print $this->form->input( 'binLocation1', array( 'type'=>'text','div'=>false,'label'=>false,'class'=>'form-control binLocation', 'required'=>false ) );
                                                
                                                //print $this->Soap->number_to_word(1);
                                                
                                            ?>
                                        </div>
                                        <label for="username" class="control-label col-lg-1">Stock</label>                                        
                                        <div class="col-lg-3">                                            
                                            <?php
                                                print $this->form->input( 'stock1', array( 'type'=>'text','div'=>false,'label'=>false,'class'=>'form-control stock', 'required'=>false, 'value' => '0', 'disabled' =>'disabled' ) );
                                            ?>
                                        </div>
                                      </div>
                                      
                                      <div class="form-group count">
                                        <label for="username" class="control-label col-lg-3">Secondary Bin Location</label>                                        
                                        <div class="col-lg-3">                                            
                                            <?php
                                                print $this->form->input( 'binLocation2', array( 'type'=>'text','div'=>false,'label'=>false,'class'=>'form-control binLocation', 'required'=>false ) );
                                            ?>
                                        </div>
                                        <label for="username" class="control-label col-lg-1">Stock</label>                                        
                                        <div class="col-lg-3">                                            
                                            <?php
                                                print $this->form->input( 'stock2', array( 'type'=>'text','div'=>false,'label'=>false,'class'=>'form-control stock', 'required'=>false, 'value' => '0', 'disabled' =>'disabled' ) );
                                            ?>
                                        </div>
                                        <div class="col-lg-2">
											
											<button class="flushLocation btn btn-danger color-white btn-dark" type="button"><i class="fa fa-close"></i></button>
											
											</div>
                                      </div>
                                                                         
                                      
                                      <!-- bin assosiation -->
                                      
                                      <div class='image1' ></div>
                                      
                                    <div class="text-center margin-top-20 padding-top-20 border-top-1 border-grey-100">                                                                            
                                      
									  <?php
											/*echo $this->Form->button(
												'Reset', 
												array(
													'formaction' => Router::url(
														array('controller' => 'showList')
													 ),
													'escape' => true,
													'class'=>'btn bg-orange-500 color-white btn-dark margin-right-10 padding-left-40 padding-right-40'	
												)
											);*/	
										?>
									 <button class="addLocationBtnClick btn bg-green-500 color-white btn-dark" type="button"><i class="fa fa-plus"></i> Add More Locations</button>
									 <?php
											echo $this->Form->button('Save', array(
												'type' => 'submit',												
												'escape' => true,
												'class'=>'resetPackage btn bg-green-500 color-white btn-dark padding-left-40 padding-right-40'
										    ));	
										?>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>        
</div>


<?php 
						
	if($this->session->read('Auth.User.id') > 0)
	{	
		$getCommonHelper = $this->Common->getUserDataAfterLogin( $this->session->read('Auth.User.id') );
		$getName = $this->Common->getFirstLastName( $this->session->read('Auth.User.id') );
	} 
	$userId = $getCommonHelper['User']['id'];
	$pcName = $getCommonHelper['User']['pc_name'];
?>


<script language="JavaScript">
	
	var userId = '<?php echo $userId ?>';
	var pcName = '<?php echo $pcName ?>';
	
function disableEnterKey(e)
{
     var key;      
     if(window.event)
          key = window.event.keyCode; //IE
     else
          key = e.which; //firefox      

     return (key != 13);
}

</script>


<script>
	
	$(document).keypress(function(e)
	{
	   if(e.which == 13) {
		   
		  
		   if($('.binLocation').val() != '')
		   {
			  return false;
		   }
		   else
		   {
			  
		   }	
		  
		   if($('#ProductBarcode').val() != '')
			{
				
				submitSanningValue();
			}
			else
			{
				//submitTrackingSanningValue();
			}
			
		}
	});

	$(function()
	{		
		
		//Add Location field area
		$( 'body' ).on( 'click', '.addLocationBtnClick', function(e)
		{
			//Get Size
			var getCountLocationSize = parseInt($( "div.count" ).size()) + 1;			
			
			//Set Html for inline rows will increase
			var str = '';
			str += '<div class="form-group count" for="newDom" id="binDom_'+ getCountLocationSize +'">';
			str += '<label for="username" class="control-label col-lg-3">Secondary Bin Location</label>';
			str += '<div class="col-lg-3">';
				str += '<input type="text" id="binLocation'+getCountLocationSize+'" class="form-control binLocation" name="data[binLocation'+getCountLocationSize+']">';
			str += '</div>'; 
			str += '<label for="username" class="control-label col-lg-1">Stock</label>';                                        
			str += '<div class="col-lg-3">';
				str += '<input type="text" id="stock'+getCountLocationSize+'" disabled = "disabled" value = "0" class="form-control stock" name="data[stock'+getCountLocationSize+']">';
			str += '</div>';
			str += '<div class="col-lg-2">';				
			str += '<button for="'+getCountLocationSize+'" class="flushLocation btn btn-danger color-white btn-dark" type="button"><i class="fa fa-close"></i></button>';
				str += '</div>';
		  str += '</div>';
			
			//Add more at run time after at last
			$( "div.count:last" ).after( str );
			
		});
		
		//Get Rack NUmber which one we need to see and make changes
		$( 'body' ).on( 'change', '#groundFloor', function(e)
		{			
			$(this).focusout(function()
			{
			
				var optionSelected = $("option:selected", this);
				var valueSelected = optionSelected.text();
				var floorId = $(this).val();
				
				var str = '';
				var i = 0;
				optionSelected.each(function(){				
					//console.log($(this).val() +'=='+ $(this).text());
					if( i == 0 )
						str += $(this).text();
					else
						str += ','+$(this).text();
				i++;	
				});
				
				//Check If input rack name exists in table or not
				$.ajax({
						url     	:  '/Products/getRackAccordingToFloor',
						type    	: 'POST',
						data    	: { floorId : floorId , selectedText : str },  			  
						success 	:	function( data  )
						{
							$( "div.rack_Number" ).html( data );							
						}                
					});	
				
			});
			
		});	
		
		//Get Rack NUmber which one we need to see and make changes
		$( 'body' ).on( 'change', '#rackNumber', function()
		{
			
			$(this).focusout(function()
			{
				//Get Current chnage event text
				var levelNumber = $(this).val();
				var optionSelected = $("option:selected", this);
				var valueSelected = optionSelected.text();
				
				if( levelNumber != '' )
				{	
					var strG = '';	
					var g = 0;				
					$("#groundFloor :selected").each(function (i,sel)
					{
					   if( g == 0 )
							strG += $(sel).text();
						else
							strG += ','+$(sel).text();
					g++;
					});
									
					var i = 0;
					var str = '';
					optionSelected.each(function(){				
						//console.log($(this).val() +'=='+ $(this).text());
						if( i == 0 )
							str += $(this).text();
						else
							str += ','+$(this).text();
					i++;	
					});										
				}	
				//Check If input rack name exists in table or not
				$.ajax({
						url     	:  '/Products/getLevelAccordingG_R',
						type    	: 'POST',
						data    	: { groundText : strG , rackText : str },  			  
						success 	:	function( data  )
						{
							$( "div.level_Number" ).html( data );							
						}                
				});	
			});
			
		});		
		
		//Get Section NUmber which one we need to see and make changes
		$( 'body' ).on( 'change', '#levelNumber', function()
		{	
			$(this).focusout(function()
			{
				//Get Current chnage event text
				var levelNumber = $(this).val();
				var optionSelected = $("option:selected", this);
				var valueSelected = optionSelected.text();
				
				if( levelNumber != '' )
				{	
					//Ground
					var strG = '';	
					var g = 0;				
					$("#groundFloor :selected").each(function (i,sel)
					{
					   if( g == 0 )
							strG += $(sel).text();
						else
							strG += ','+$(sel).text();
					g++;
					});
					
					//Rack
					var strR = '';	
					var r = 0;				
					$( '#rackNumber :selected' ).each(function (i,sel)
					{
					   if( r == 0 )
							strR += $(sel).text();
						else
							strR += ','+$(sel).text();
					r++;
					});
					
					//Level				
					var i = 0;
					var str = '';
					optionSelected.each(function(){				
						//console.log($(this).val() +'=='+ $(this).text());
						if( i == 0 )
							str += $(this).text();
						else
							str += ','+$(this).text();
					i++;	
					});										
				}	
				
				///Check If input rack name exists in table or not
				$.ajax({
						url     	:  '/Products/getSectionAccordingG_R',
						type    	: 'POST',
						data    	: { groundText : strG , rackText : strR , levelSelected : str },  			  
						success 	:	function( data  )
						{
							$( "div.section_Number" ).html( data );							
						}                
				});		
			});			
		});	
		
		//check uniqueness for location
		function occurrences(string, subString, allowOverlapping) {

				string += "";
				subString += "";
				if (subString.length <= 0) return (string.length + 1);

				var n = 0,
					pos = 0,
					step = allowOverlapping ? 1 : subString.length;

				while (true) {
					pos = string.indexOf(subString, pos);
					if (pos >= 0) {
						++n;
						pos += step;
					} else break;
				}
				return n;
			}
		
		$('#ProductBarcode').focus();
		$( ".resetPackage" ).click( function()
		{	
			var barcode			=	$('#ProductBarcode').val();			
			var bin_sku			=	$('#ProductSku').val();			
			var currentStock	=	$('#stock').val();			
			var packagingType	=	$('#packagingType').val();
			var packagingTypeSelectedName	=	$('#packagingType :selected').text();
			
			var getLength	=	$('#ProductLength').val();
			var getWidth	=	$('#ProductWidth').val();
			var getHeight	=	$('#ProductHeight').val();
			var getWeight	=	$('#ProductWeight').val();			
			var getBrand	=	$('#ProductBrand').val();
			var pageName	=	'Product Detail';
			
			
			if( getLength == '' || getWidth == '' || getHeight == '' || getWeight == '' )
			{
				alert( "Please input all fields!!" );
				return false;
			}
			
			var i = 0;
			var getLocation = '';
			var count1 = 0;
			var countLocation = 0;
			//Get Lacation and stock values
			$( "div.count" ).each(function()
			{
				if( i == 0 )
				{
					getLocation += $(this).find( '.binLocation' ).val();
				}
				else
				{
					var str1 = $(this).find( '.binLocation' ).val();
					if( str1 == '' )
					{
						countLocation = countLocation + 1;
					}
					getLocation += ','+$(this).find( '.binLocation' ).val();
					count1 = occurrences(getLocation, str1);
				}
			i++;  
			});
			
			if( countLocation > 0 )
			{
				alert( 'Please fill location.' );	
				return false;
			}	
			
			if( count1 > 1 )
			{
				alert( 'Location Should be unique' );	
				return false;
			}	
			
			var getStockByLocation = '';
			i = 0;
			//Get Lacation and stock values
			$( "div.count" ).each(function()
			{
				if( i == 0 )
				{
					getStockByLocation += $(this).find( '.stock' ).val();
				}
				else
				{
					getStockByLocation += ','+$(this).find( '.stock' ).val();
				}				
			i++;  
			});
			var productRefId = $( ".resetPackage" ).attr( 'for' ).split( '-' );
			
			$.ajax({
				'url'            :  '/Products/updatePackagingIdByBarcodeSearch',
				'type'           : 'POST',
				'dataType'		 : "JSON",
				'data'           : {  	barcode : barcode , 
										variant_envelope_id : packagingType , 
										variant_envelope_name : packagingTypeSelectedName , 
										getLength : getLength , 
										getWidth : getWidth , 
										getHeight : getHeight , 
										getWeight : getWeight , 
										product_id : productRefId[0] , 
										id : productRefId[1] , 
										brand : getBrand ,										
										bin_sku : bin_sku,
										getLocation : getLocation,
										getStockByLocation : getStockByLocation,
										pageName : pageName,
										currentStock : currentStock,
										userId : userId,
										pcName : pcName
									},
				'success' 		 : function( msgArray )
								   {
										if( msgArray.data.status == "success" )
										{
											alert( "Update successful." );
											
											//Reset All feilds now
											$('#ProductBarcode').val('');
											$('#ProductTitle').val('');
											$('#ProductSku').val('');
											$('#ProductLength').val('');
											$('#ProductWidth').val('');
											$('#ProductHeight').val('');
											$('#ProductWeight').val('');
											$('#packagingType').val('');
											$('#ProductBrand').val('');
											$('#binLocation1').val('');
											$('#binLocation2').val('');
											$('#stock1').val('');
											$('#stock2').val('');
											$('#stock').val('');
																						
											location.reload();
											
											return false;	
										}
								   }
				});
				
		});
		
		$( 'body' ).on( 'click', '.flushLocation', function()
		{	
			var getClickIndex = $(this).attr('for');
			var barcode	=	$('#ProductBarcode').val();			
			var bin_sku	=	$('#ProductSku').val();			
			var pageName	=	'Product Detail';
			var outerDomForTag = $(this).parent().prev().prev().parent().attr('for');
			
			//Check location and stock both before flush
			var location = $( '#binLocation'+getClickIndex ).val();
			var stock = $( '#stock'+getClickIndex ).val();
			
			//var barcode	=	$(this).parent().prev().prev().find( '#binLocation'+getClickIndex ).val();			
			//var bin_sku	=	$(this).parent().prev().prev().find( '#stock'+getClickIndex ).val();
			var flagCheck = false;
			
			if( outerDomForTag == '' || outerDomForTag == undefined )
			{
				
				if( location != '' && stock > 0 )
				{
					console.log("**** Checking ****");
					//remove dom
					swal( "Sorry, Can't flush ["+location+"] location.Because it has some quantity!" );
					flagCheck = false;
					console.log("Sorry, Can't flush ["+location+"] location.Because it has some quantity!");
				}
				
				//condition check
				if( location != '' && stock <= 0 )
				{
					console.log("**** Removing ****");
					//remove dom
					$( '#binDom_'+getClickIndex ).remove();
					flagCheck = true;
					console.log("**** Removed ****");
				}
				
			}
			else
			{
				
			}
			
			return false;
			
			//condition check
			if( location == '' && stock <= 0 )
			{
				//remove dom
				$( '#binDom_'+getClickIndex ).remove();
				flagCheck = true;
			}
			else if( location != '' && stock <= 0 )
			{
				//remove dom
				$( '#binDom_'+getClickIndex ).remove();
				flagCheck = true;
			}
			
			/*var i = 0;
			var getLocation = '';
			//Get Lacation and stock values
			$( "div.count" ).each(function()
			{
				if( $(this).find( '.binLocation' ).val() != "" )
				{
					if( i == 0 )
					{
						getLocation += $(this).find( '.binLocation' ).val();
					}
					else
					{
						if( getClickIndex != i )
						getLocation += ','+$(this).find( '.binLocation' ).val();
					}
				}				
			i++;  
			});*/
			
			/*var getStockByLocation = '';
			i = 0;
			//Get Lacation and stock values
			$( "div.count" ).each(function()
			{
				if( $(this).find( '.stock' ).val() != "" )
				{
					if( i == 0 )
					{
						getStockByLocation += $(this).find( '.stock' ).val();
					}
					else
					{
						if( getClickIndex != i )
						getStockByLocation += ','+$(this).find( '.stock' ).val();
					}
				}				
			i++;  
			});*/
			
			if( flagCheck == true )
			{				
				var i = 0;
				var getLocation = $( "#binLocation"+getClickIndex ).val();		
				var getStockByLocation = $( "#stock"+getClickIndex ).val();
							
				var productRefId = $( ".resetPackage" ).attr( 'for' ).split( '-' );
				
				//Remove from dom now
				$(this).parent().prev().prev().parent().remove();
				
				$.ajax({
					'url'            :  '/Flushs/flushLocation',
					'type'           : 'POST',
					'dataType'		 : "JSON",
					'data'           : {  	barcode : barcode , 										
											product_id : productRefId[0] , 
											id : productRefId[1] ,								
											bin_sku : bin_sku,
											getLocation : getLocation,
											pageName : pageName,
											userId : userId,
											pcName : pcName,
										},
					'success' 		 : function( msgArray )
									   {
											//$( '.resetPackage' ).click();
											swal(msgArray);
											return false;
									   }
					});
					
			}				
		});
	})
	
	function submitSanningValue()
	{
		
		var barcode	=	$('#ProductBarcode').val();			
		
		$.ajax({
			'url'            :  '/Products/getBarcodeSearchLocation',
			'type'           : 'POST',
			'dataType'		 : "JSON",
			'data'           : {  barcode : barcode },
			'success' 		 : function( msgArray )
								{
									var brandName	=	msgArray.data.brand;	
									var getId_productId = msgArray.data.product_id + "-" + msgArray.data.id;											
									$( ".resetPackage" ).attr( 'for' , getId_productId );
									$('#ProductTitle').val( msgArray.data.name );
									$('#ProductShortDesc').val( msgArray.data.shortdescription );
									$('#ProductLognDesc').val( msgArray.data.longdescription );
									$('#ProductBrand').val( msgArray.data.brand );
									$('#ProductLength').val( msgArray.data.length );
									$('#ProductWidth').val( msgArray.data.width );
									$('#ProductHeight').val( msgArray.data.height );
									$('#ProductWeight').val( msgArray.data.weight );
									$('#ProductSku').val( msgArray.data.sku );											
									$('#packagingType').val( msgArray.data.variant_envelope_id );
									
									if( msgArray.data.stock === null )
									{
										$( '#stockLabel' ).addClass( 'color-red-800' );
										$('#stock').val( "N/A" );										
									}
									else
									{
										$('#stock').val( msgArray.data.stock );	
									}
									
									//Set Html for inline rows will increase
									/*var str = '';
									str += '<div class="form-group count">';
									str += '<label for="username" class="control-label col-lg-3">Secondary Bin Location</label>';
									str += '<div class="col-lg-3">';
										str += '<input type="text" id="binLocation'+getCountLocationSize+'" class="form-control binLocation" name="data[binLocation'+getCountLocationSize+']">';
									str += '</div>';
									str += '<label for="username" class="control-label col-lg-1">Stock</label>';                                        
									str += '<div class="col-lg-3">';
										str += '<input type="text" id="stock'+getCountLocationSize+'" class="form-control stock" name="data[stock'+getCountLocationSize+']">';
									str += '</div>';
									str += '<div class="col-lg-2">';				
									str += '<button class="btn btn-danger color-white btn-dark" type="button"><i class="fa fa-close"></i></button>';
										str += '</div>';
								  str += '</div>';*/
									
									var str = '';
									var binLocate = msgArray.data.binLocationArray;	
									if( binLocate !== null )															
									{
										$.each(binLocate, function(idx, obj)
										{
											var index = idx;
											var idTable = obj.id;
											var bin_location = obj.bin_location;
											var stock_by_location = obj.stock_by_location;
											var barcode = obj.barcode;
	
											//Set AddMore Locations Html
											if( idx == 0 )
											{	
												index++;
												str += '<div class="form-group count" id="binDom_'+ index +'">';
													str += '<label class="control-label col-lg-3" for="username">Primary Bin Location</label>';                                        
													str += '<div class="col-lg-3">';                                            
														str += '<input type="text" id="binLocation1" class="form-control binLocation" value="'+bin_location+'" name="data[binLocation1]"></div>';
													str += '<label class="control-label col-lg-1" for="username">Stock</label>';                                        
													str += '<div class="col-lg-3">';                                            
														str += '<input type="text" id="stock1" class="form-control stock" disabled = "disabled" value="'+stock_by_location+'" name="data[stock1]"></div>';
														str += '<div class="col-lg-2 btnDom">';											
													str += '<button class="flushLocation btn btn-danger color-white btn-dark" type="button" for="'+index+'"><i class="fa fa-close"></i></button>';											
													str += '</div>';
												  str += '</div>';
											}										
											else if( idx == 1 )
											{
												index++;
												str += '<div class="form-group count" id="binDom_'+ index +'">';
													str += '<label class="control-label col-lg-3" for="username">Secondary Bin Location</label>';                                        
													str += '<div class="col-lg-3">';                                            
														str += '<input type="text" id="binLocation2" class="form-control binLocation" value="'+bin_location+'" name="data[binLocation2]"></div>';
													str += '<label class="control-label col-lg-1" for="username">Stock</label>';                                        
													str += '<div class="col-lg-3">';                                            
														str += '<input type="text" id="stock2" class="form-control stock" disabled = "disabled" value="'+stock_by_location+'" name="data[stock2]"></div>';
														str += '<div class="col-lg-2 btnDom">';											
												str += '<button class="flushLocation btn btn-danger color-white btn-dark" type="button" for="'+index+'"><i class="fa fa-close"></i></button>';											
												str += '</div>';
												  str += '</div>';
											}
											else // for all
											{
												//Get Size
												var getCountLocationSize = parseInt($( "div.count" ).size()) + 1;	
												
												index++;		
												str += '<div class="form-group count" id="binDom_'+ index +'">';
													str += '<label class="control-label col-lg-3" for="username">Secondary Bin Location</label>';                                        
													str += '<div class="col-lg-3">';                                            
														str += '<input type="text" id="binLocation'+getCountLocationSize+'" class="form-control binLocation" value="'+bin_location+'" name="data[binLocation'+getCountLocationSize+']"></div>';
													str += '<label class="control-label col-lg-1" for="username">Stock</label>';                                        
													str += '<div class="col-lg-3">';                                            
														str += '<input type="text" id="stock'+getCountLocationSize+'" disabled = "disabled" class="form-control stock" value="'+stock_by_location+'" name="data[stock'+getCountLocationSize+']"></div>';
														str += '<div class="col-lg-2 btnDom">';											
												str += '<button class="flushLocation btn btn-danger color-white btn-dark" type="button" for="'+index+'"><i class="fa fa-close"></i></button>';											
												str += '</div>';
												  str += '</div>';
											}
												
										});
										$( "div.count" ).remove();
									
										//Add more at run time after at last
										$( "div.brandSelect" ).after( str );
										
									}
									else
									{
										$('#binLocation1').val('');
										$('#binLocation2').val('');
										$('#stock1').val('');
										$('#stock2').val('');	
									}	
								}
			});
	}
	
	
	
	
</script>
