<style>
	.head{ background:#ddd;}
	.head div{ padding:5px ; font-weight:bold;}
	.body div{ padding:5px ;}
	.body div div{ padding:1px ;}
	.url{overflow:scroll;}
	.body div.sku{ border-bottom:1px solid #C6C6C6; padding:0px;} 
	.body div.sku div{padding:2px 3px; font-size:14px;} 
	.body .sku:nth-child(even) { background-color: #f9f9f9;	}*/
	.skudiv{ background-color: #eee; width:100%; border-bottom:#999999 dashed 1px;}
	.txt{float:left;}
	.xedit{cursor: pointer;}
	.delete{color:#CC0000; cursor:pointer; font-size:12px;}
	 
 </style>
<div class="rightside bg-grey-100">
    <div class="page-head bg-grey-100">        
			<h1 class="page-title"></h1>
			<div class="panel-title no-radius bg-green-500 color-white no-border"></div>
				<div class="submenu">
					<div class="navbar-header">
					</div>
				</div>
				<div class="panel-head msg"><?php print $this->Session->flash(); ?> </div>
				<h4>All Shipments</h4>
			</div>
    	  <div class="container-fluid">							
			<div class="row">
			
			
				<div class="col-lg-12">
					<div class="panel no-border ">
						<div class="panel-title bg-white no-border">							
							  
						</div>	
						
					<div class="panel-body no-padding-top bg-white">
						
						<div class="row head" style="clear:both;">
		 					  <div class="col-sm-12">
								<div class="col-sm-2">Shipment Name</div>		
								<div class="col-sm-2">Shipment Id</div>		
								<div class="col-sm-3">Ship To</div>
								<div class="col-sm-2">Plan Id</div>														
								<div class="col-sm-1">SKU / Units</div>	
								<div class="col-sm-1">Pack List</div>	
								<div class="col-sm-1">Action</div>	
							</div>								
						</div>	
						<div class="body" id="results">
						<?php  if(count($all_shipments) > 0) {	 ?>
							<?php foreach( $all_shipments as $items ) {     ?>
								<div class="row sku" id="r_<?php echo $items['FbaShipment']['id']; ?>">
									<div class="col-lg-12">	
										<div class="col-sm-2"><?php echo $items['FbaShipment']['shipment_name']; ?></div>	
										<div class="col-sm-2"><?php echo $items['FbaShipment']['shipment_id']; ?></div>			
										<div class="col-sm-3"><?php echo $items['FbaShipment']['ship_to'] ?></div>											
										<div class="col-sm-2"><?php echo $items['FbaShipment']['plan_id'] ?></div> 
										<div class="col-sm-1"><?php echo $items['FbaShipment']['total_skus'];  ?> / <?php echo $items['FbaShipment']['total_units']; ?></div>
										<div class="col-sm-1"><?php echo $items['FbaShipment']['pack_list']; ?></div>	
										<div class="col-sm-1"> <a href="<?php echo Router::url('/', true) ?>FbaShipments/ShipmentItems/<?php echo $items['FbaShipment']['id']; ?>" title="View Shipment Items" style="font-size:11px; color:#000099; text-decoration:underline;">View Items</a><br /> 
										<a href="<?php echo Router::url('/', true) ?>FbaShipments/ExportShipment/<?php echo $items['FbaShipment']['id']; ?>" title="Export Shipment" style="font-size:11px; color:#000099; text-decoration:underline;">Export Shipment</a></div>	
									</div>												
								</div>
								 
							<?php }?>
						<?php } else {?>
							<div align="center"><div class="alert alert-danger fade in">No data found!</div></div>
						<?php }  ?>
						</div>
						<br />
						<div style="position:absolute; top:100%; right:0; left:0;"><?php echo $this->element('footer'); ?></div>
			</div>			
		  </div>
		  
<div class="outerOpac" style="display:none;">
<span style="opacity:0.7; background: #000; width:100%; height:100%; z-index:9999;  top:0; left:0; position:fixed;"></span>
<img style="bottom: 0; left: 0; margin: auto; opacity: 1; position: fixed; right: 0; top: 0; z-index: 99999;" src="<?php echo $this->webroot; ?>img/482.gif" />
</div>


<script>	

$('#filter_shipment').click(function(){  
	document.getElementById("shipmentFrm").submit();		 
});
	
$(".downloadfeed").click(function(){	
	if($("#category option:selected").val() == 'all'){
		alert("Please Select Category");	
	}else{
		 
		$(".outerOpac").show();		 	
			$.ajax({
				dataType: 'json',
				url : '<?php echo Router::url('/', true) ?>MapSku/getFeedCsv',
				type: "POST",				
				cache: false,			
				data : {country:$("#country option:selected").val(),listing_type:'inactive_listing'},
				success: function(data, textStatus, jqXHR)
				{	
					$(".outerOpac").hide();		
					jQuery(".msg").html(data.file);
					$('#msg').delay(200000).fadeOut('slow');							
			}		
		 });
	 }
		 
});
$(".filter").click(function(){
	if($("#country option:selected").val() == 'all'){
		alert("Please Select Country");	
	}else{
		window.location.href = '<?php echo Router::url('/', true) ?>MapSku/getInactiveListing?country='+$("#country option:selected").val();
	}
});

$(".searchKey").click(function(){	
	if($(".searchString").val()){
		ajaxSearch();
	}else{
		alert('Enter Search Keyword.');
		event.preventDefault();
	}
		 
});

$(".mapmaster").click(function(){	
if($("#country option:selected").val() == 'all'){
		alert("Please Select Country");	
	}else{
	
		var country = $("#country option:selected").val();
		
		$(".mapmaster i").removeClass('glyphicon glyphicon-upload');
		$(".mapmaster i").addClass('fa fa-spin fa-refresh');
		
		
		country = country == 'GB' ? 'UK' : country;
		$.ajax({
			dataType: 'json',
			url : '<?php echo Router::url('/', true) ?>MapSku/getDataAws/CostBreaker_'+country,
			type: "POST",				
			cache: false,			
			//data : { },
			success: function(data, textStatus, jqXHR)
			{	
				
				$(".mapmaster i").removeClass('fa fa-spin fa-refresh');	
				$(".mapmaster i").addClass('glyphicon glyphicon-upload');	
				$(".msg").show();		
				$(".msg").html(data.msg);	
				$('.msg').delay(20000).fadeOut('slow');		
				window.location.href = '<?php echo Router::url('/', true) ?>MapSku/getInactiveListing?country='+$("#country option:selected").val();				
			}		
	 });	
	} 
	 
 });
function ajaxSearch(){	
	 <?php /*?>  $("#mapFrm").attr("action", "<?php echo Router::url('/', true) ?>MapSku/Search");
	   $("#mapFrm").submit();<?php */?>
	   
	$(".outerOpac").show();		 	
		$.ajax({
			dataType: 'json',
			url : '<?php echo Router::url('/', true) ?>MapSku/Search',
			type: "POST",				
			cache: false,			
			data : {searchkey:$(".searchString").val()},
			success: function(data, textStatus, jqXHR)
			{	//alert(data.data);	
				$(".outerOpac").hide();		
				//jQuery(".msg").html(data.msg);
				jQuery('.panel-body').html(data.data);
					
				//$('#message').delay(20000).fadeOut('slow');							
		}		
	 });		 
}

 function delSku(key){
	if( confirm('Are you sure want to delete?')){
	$(".outerOpac").show();		 
 	$.ajax({
			dataType: 'json',
			url : '<?php echo Router::url('/', true) ?>MapSku/Delete',
			type: "POST",				
			cache: false,			
			data : {seller_sku:key},
			success: function(data, textStatus, jqXHR)
			{	//alert(data.data);	
				$(".outerOpac").hide();		
				jQuery(".msg").html(data.msg);
				jQuery("#r_"+key).remove();	
				//$('#message').delay(20000).fadeOut('slow');							
		}		
	 });
	 }
 }
 

</script>
