<?php
$currentUri = $_SERVER["REQUEST_URI"];
$params = explode('/', $currentUri);
$channel 		= isset($params[3]) ? $params[3] : '' ;
?>
<div class="rightside bg-grey-100">
    <!-- BEGIN PAGE HEADING -->
    <div class="page-head bg-grey-100">  
	<h4 class="modal-title" id="myLargeModalLabel-1">Upload And Show OpenOrder</h4>     
		<div class="row head" style="clear:both;">
		 		<div class="col-sm-12" >
					<div class="col-lg-12" style="background-color: #cfd8dc; padding: 15px; font-size: 14px;">
						<!--<div class="col-sm-4" style="font-weight: bold;" >Total :- <strong class="total_sell"></strong></div>-->
					</div>
					<div class="col-sm-12" style="background-color: #e9eaea; padding: 5px; font-size: 12px;">
						<div class="col-sm-4">
						<form name="uploadfile" id="uploadfrm" enctype="multipart/form-data">
							<input type="file"  name="upload_file" class="filestyle" data-buttonText="Find file" id="upload_file"/>
						</form>
						</div>
						<div class="col-sm-4">
							<select class="form-control input-sm channel_select">
								<option>Select Channel</option>
								<option value="All Channel">All Channel</option>
								<?php foreach( $getChannelName as $index => $value ) { ?>
								<option value="<?php echo $value; ?>"><?php echo $value; ?></option>
								<?php } ?>
							</select>
						</div>
						<div class="col-sm-4">
							<a href="javascript:void(0);" class="search_result btn btn-success color-white btn-dark" style="margin-right:8px; auto; text-align: center;">Search</a>
							<!--<a href="#" class="btn bg-orange-500 color-white btn-dark" style="margin-right:8px; auto; text-align: center;">Go Back</a>-->
							<a href="/Skureports/showAmazonRecords" class="btn btn-info color-white btn-dark" style="margin-right:8px; auto; text-align: center;">Refresh</a>
							<a href="/Skureports/openOrderDayPast/<?php echo $channel; ?>" class="btn btn-success color-white btn-dark" style="margin-right:8px; auto; text-align: center;">Generate xlsx</a>
							<a href="javascript:void(0);" class="assign_status btn btn-success color-white btn-dark" style="margin-right:8px; auto; text-align: center;">Status</a>
						</div>
				</div>
				<div class="col-sm-12" style="background-color: #e9eaea; padding: 5px; font-size: 12px;">
						<div class="col-sm-4">&nbsp;</div>
						<div class="col-sm-4">
						
						<?php 
						
						for ($i = 0; $i <= 15; $i++) {
								if( $i == 0 ){
									$timestamps[] = date('Y-m-d');
								} else {
									$timestamps[] = date('Y-m-d', strtotime('-'.$i.' day'));
								}
							}
						?>
							<select class="form-control input-sm date_select">
								<option>Select Date</option>
								<?php foreach( $timestamps as $key => $value) { ?>
								<option value="<?php echo $value; ?>"><?php echo $value; ?></option>
								<?php } ?>
							</select>
						</div>
						<div class="col-sm-4"></div>
				</div>
			</div>
		</div>
    </div>
    <!-- END PAGE HEADING -->
    <div class="container-fluid">
	   <div class="row">
		    <div class="col-lg-12">
			  <div class="panel">                            
                    <div class="row">
					    <div class="col-lg-12">
							   <div class="panel-body padding-bottom-40 padding-top-10">
							   <!--<div class="" style="margin:0 auto; width:350px">
									 <ul class="pagination">
									  <?php
										   echo $this->Paginator->prev(__('prev'), array('tag' => 'li'), null, array('tag' => 'li','class' => 'disabled','disabledTag' => 'a'));
										   echo $this->Paginator->numbers(array('separator' => '','currentTag' => 'a', 'currentClass' => 'active','tag' => 'li','first' => 1));
										   echo $this->Paginator->next(__('next'), array('tag' => 'li','currentClass' => 'disabled'), null, array('tag' => 'li','class' => 'disabled','disabledTag' => 'a'));
									  ?>
									 </ul>
								</div>-->
							        <div class="text-left border-top-1 border-grey-100">  
									<table id="example" class="col-lg-12 table table-striped table-bordered" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>Order Id</th>
												<th>Day Past</th>
												<th>Sku</th>
												<th>Title</th>
												<th>Qty</th>
												<th>Country</th>
												<th>Channel Name</th>
												<th>Date</th>
												<th>Upload Date</th>
											</tr>
										</thead>
										<tbody class="table_content">
										<?php $i = 1;  
										foreach( $getAllRecords as $getAllRecord ) { 
										if($getAllRecord['AmazonRecord']['days_past_promise'] > '-1'){
												$class = 'background-color: #fcb2b2';												
											} else { 
												$class = 'background-color: #bff6bf';
											}
										?>
											<tr id='<?php echo $i; ?>' style="<?php echo $class; ?>">
												<td class='channel_sku' ><?php echo $getAllRecord['AmazonRecord']['order_id']; ?></td>
												<td class='channel_sku' ><?php echo $getAllRecord['AmazonRecord']['days_past_promise']; ?></td>
												<td class='channel_sku' ><?php echo $getAllRecord['AmazonRecord']['sku']; ?></td>
												<td class='channel_sku' ><?php echo $getAllRecord['AmazonRecord']['product_name']; ?></td>
												<td class='quantity' ><?php echo $getAllRecord['AmazonRecord']['quantity_purchased']; ?></td>
												<td class='count' ><?php echo $getAllRecord['AmazonRecord']['ship_country']; ?></td>
												<td><?php echo $getAllRecord['AmazonRecord']['sales_channel']; ?></td>
												<td><?php echo date('Y-m-d', strtotime($getAllRecord['AmazonRecord']['purchase_date'])); ?></td>
												<td><?php echo date('Y-m-d', strtotime($getAllRecord['AmazonRecord']['upload_date'])); ?></td>
											</tr>
										<?php $i++; } ?>
										</tbody>
									</table>                             
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>
<div class="outerOpac" style="display:none">
<span style="opacity:0.7;   background: #000;   width:      100%;  height:     100%;   z-index:    9999;  top:        0;   left:       0;   position:   fixed; ">
</span>
<img style="bottom: 0;    left: 0;    margin: auto;    opacity: 1;    position: fixed;    right: 0;   top: 0; z-index:    99999; " src="/app/webroot/img/482.gif" />
</div>
<script>

$(document).ready(function() {

	$('.search_result').click( function(){	
		var dateSelected 		= 	$('.date_select').val();
		var selectedChannel 	= 	$('.channel_select').val();
		window.location = "<?php echo Router::url('/', true) ?>Skureports/showAmazonRecords/"+selectedChannel+"/"+dateSelected;
	});
	
	
	$('.assign_status').click( function(){
		
			$.ajax({
							  url : '/Skureports/assignStatus',
							  type: "POST",   
							  cache: false,
							  contentType: false,
							  processData: false,
							  data : {},
							  beforeSend : function(){ $( ".outerOpac" ).attr( 'style' , 'display:block'); },  
							  success: function(data)
											  {  
												$( ".outerOpac" ).attr( 'style' , 'display:none');
												alert( data );
												
											  }  
								});
	
	});
	

	$(".channel_select111").change(function(){
											var channel = $( this ).val();
											window.location = "<?php echo Router::url('/', true) ?>Skureports/showAmazonRecords/"+channel;
										  });
  
  
  $('#upload_file').change(function(){
					var formData = new FormData($('#uploadfrm')[0]);
					$.ajax({
							  url : '/Skureports/uploadAmazonFile',
							  type: "POST",   
							  cache: false,
							  contentType: false,
							  processData: false,
							  data : formData,
							  beforeSend : function(){ $( ".outerOpac" ).attr( 'style' , 'display:block'); },  
							  success: function(data)
											  {  
												$( ".outerOpac" ).attr( 'style' , 'display:none');
												alert( data );
												location.reload();
											  }  
								});
				
  						});

	$('#example').DataTable({
	 aLengthMenu: [
        [25, 50, 100, 200, -1],
        [25, 50, 100, 200, "All"]
    ],
    iDisplayLength: -1
	});	
	
	var total 		= 		0;
	var amount  	= 		0;
	
	$('.table_content  > tr').each(function() {
	
		var id 			= 		$( this ).attr('id');
		var count 		= 		$("#"+id+" .quantity").text();
		total	=	parseInt(total) + parseInt(count);
		$('.total_sell').text( total );
	});	
	
	
});

</script>
