<label class="control-label col-lg-3" for="username">Delevery label </label>
<div class="col-lg-7">  
	<?php
		if( count( $getTemplate ) > 0 )
		print $this->form->input( 'Template.store_id', array( 'type'=>'select', 'empty'=>'Choose Store','options'=>$getTemplate,'class'=>'packageName form-control selectpicker','data-style'=>'btn-dropdown', 'div'=>false, 'label'=>false, 'required'=>false) );
	?>                               
</div>
