<label class="control-label col-lg-3" for="username">Packaging Name</label>                                        
<div class="col-lg-7 pasteVariant"> 
	<?php
		if( count( $envelop ) > 0 )
		print $this->form->input( 'User.role_type', array( 'type'=>'select', 'empty'=>'Packaging Name','options'=>$envelop,'class'=>'packageName form-control selectpicker','data-style'=>'btn-dropdown', 'div'=>false, 'label'=>false, 'required'=>false) );
	?>                               
</div>
