<?php 

	foreach($productdeatil as $productdeatilValue ) {  	
		
?>
<tr class="odd" id="remove_<?php echo $productdeatilValue['id']; ?>">	
	<td class="  sorting_1 sku"><?php echo $productdeatilValue['product_sku']; ?></td>
	<td class="  sorting_1 titleSku"><?php echo $productdeatilValue['product_name']; ?></td>                                                	
	<td class="  sorting_1 barcode barcode_<?php echo $productdeatilValue['barcode']; ?>"><?php echo $productdeatilValue['barcode']; ?></td>
	<td class="  sorting_1 qty">
		<input type="text" id="inputQty_<?php echo $productdeatilValue['id']; ?>" data-style="btn-dropdown" class="form-control inputQty bg-white" name="inputQty" value="1">
	</td>					
	<td class="  sorting_1 removeIt">Remove</td>
</tr>
<?php } ?>
<script type="text/javascript">
	
	maniac.loaddatatables('table');
		
</script>

<script>

	$(function()
	{
		
		$('body').on( 'click', '.removeIt', function()
		{
			
			var id = $(this).parent().attr( 'id' );
			$(this).parent().remove();
			
		});
		
		
	});

</script>
